---
import Layout from '../layouts/Layout.astro';
import BaseHead from '../layouts/BaseHead.astro';
import Signup from '../components/Signup.astro';
---

<Layout title='Contact'>
  <h1>Contact</h1>
  <Signup />
</Layout>
