---
import Layout from '../layouts/Layout.astro';
import Features from '../components/Features.astro';
import Signup from '../components/Signup.astro';
---

<Layout title='Features'>
  <h1>Features</h1>
  <Features />
  <Signup />
</Layout>
