---
// interface Props {
//   text: string;
//   type?: string;
//   style?: 'primary' | 'secondary';
//   icon?: { name: string; side: 'left' | 'right' };
//   isFilled?: boolean;
//   borderVisible?: boolean;
//   classes?: boolean;
// }

// const {
//   text,
//   type,
//   style,
//   icon,
//   isFilled = true,
//   borderVisible = false,
//   classes,
//   ...rest
// } = Astro.props as Props;

// import Button from '../Button/Button.astro';
// import './Signup.scss';

const errors = { email: '' };

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();
    const email = data.get('email');

    console.log(email, data);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<form method='POST' class='signup' action=''>
  <!-- class:list={[
    'signup',
    classes,
    type,
    style,
    { filled: isFilled, border: borderVisible },
    { ...rest },
  ]} -->
  <legend>35,000+ already joined </legend>
  <label class='signup__title'>
    Stay up-to-date with what we're doing

    <input
      type='email'
      name='email-input'
      id='email'
      placeholder='jane.appleseed@bookmark.io'
      class='signup__input'
      required
    />
    {errors.email && <span class='error'>Whoops, make sure it's an email</span>}
   
  </label>

  <button class='btn-form'>Contact Us</button>

  <!-- TO-DO=> implement form and submit functionality
  https://docs.astro.build/en/recipes/build-forms/ -->
</form>

<style lang='scss'>
  form.signup {
    padding: var(--spacing-mobile-vertical) var(--spacing-mobile-horizontal);
    background-color: var(--flickering-sea);
    color: var(--beluga);
    font-family: var(--font-family-default);
    legend {
      font-family: var(--font-family-default);
      color: var(--beluga);
      text-transform: var(--font-case-display);
      font-size: 12px;
      
      font-weight: 600;
      line-height: 4rem;
      /* 333.333% */
      letter-spacing: 4.615px;
    }

    span.error {
      display: none;
    }

    button {
      width: 100%;
    }
  label {
    color: var(--beluga);
    text-align: center;
    font-family: var(--font-family-default);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: -0.075px;
  }input {
    color: var(--royal-curtsy);
    font-family: var(--font-family-default);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 200% */
    letter-spacing: 0.25px;
    width: 100%;
    width: 31.1rem;
    height: 48px;
    	border-radius: var(	--border-radius-btn);
    	padding: 1.4rem;
    	margin-top: 3.2rem;
    	background: var(--beluga);
    	flex-shrink: 0;
    	border: 2px solid var(--vintage-ribbon);

    	&.error {
    		border: 2px solid var(--watermelon-sugar);
    	}
  }
  }


  
</style>
